# Node / Docusaurus
node_modules/
/build
.planning/
.claude/
.docusaurus
.cache-loader
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.playwright*/

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
tmp*
